<div class="mypagetitle">
  <p><%= @spot.name%></p>
</div>

<div class ="container_profile">
  <div class="user_profile_upper">
    <div class="user_profile_upper_left">
      <div class="user_profile_image">
          <% if @spot.image.present? %>
            <%= image_tag(@spot.image.thumb,:size => "350x350") %>
          <% else %>
            <%= image_tag 'default.jpg',:size =>'350x350' ,class:"card-img-top" %>
          <% end %>
      </div>
    </div>

    <div class="user_profile_upper_right">
      <div class="user_name">
        <p class="profile_data">スポット名</p>
        <p><%=@spot.name %></p>
      </div>

      <div class="user_email">
        <p class="profile_data">国名</p>
        <p> <%= @spot.country %></p>
      </div>

      <div class="user_email">
        <p class="profile_data">種類</p>
        <p> <%= @spot.genre %></p>
      </div>

      <div class="user_comment">
        <p class="profile_data">投稿者<%=@spot.user.name %>のコメント</p>
        <p><%=@spot.post_comment %> </p>
      </div>
    </div>
  </div>

    <% if @spot.address.present? %>
      <div class="spot_map">
         <p>地図表示</p>
         <p id='map' class="spot_map_google"></p>
      </div>
    <% end %>

     <!-- 以下gem:gemocodeでaddrrssから地図特定 -->
     <script type="text/javascript">
      function initMap() {
         var test ={lat: <%= @spot.latitude %>, lng: <%= @spot.longitude %>};
         var map = new google.maps.Map(document.getElementById('map'), {
                   zoom: 15,
                   center: test
                   });
         var transitLayer = new google.maps.TransitLayer();
         transitLayer.setMap(map);

         var contentString = '住所：<%= @spot.address %>';
         var infowindow = new google.maps.InfoWindow({
           content: contentString
         });

         var marker = new google.maps.Marker({
                       position:test,
                       map: map,
                       title: contentString
                      });

          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
       }
     </script>


  <div class="localartist_profile_lower">
    <p class="localartist_profile_comment_title">一言コメント(最新5件を表示)</p>
   <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
    <div id ="comments_area">
     <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
      <%= render partial: 'spotcomments/index', locals: { spotcomments: @spotcomments, spot: @spot } %>
    </div>
      <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
    <div class="localartist_profile_comment_form">
      <%= render partial: 'spotcomments/form', locals: { spotcomment: @spotcomment, spot: @spot } %>
    </div>
  </div>



    <div class="spot_profile_lower_button_show">
      <% if @spot.user == current_user %>
        <!--投稿ユーザー -->
         <p class="lower_button 1"><%= link_to "スポットを編集する", edit_spot_path(@spot.id),class:"btn btn-primary btn-block btn-lg" %></p>
         <p class="lower_button 2"><%= link_to "削除する", spot_path(@spot.id), method: :delete,class:"btn btn-danger btn-block btn-lg",
         data: { confirm: '本当に削除していいですか？' } %></p>
      <% else %>
  　   <!--非投稿ユーザー -->
        <% if @spotfavorite.present? %>
          <div class="lower_button 1"><%= link_to "お気に入りを解除する", spotfavorite_path(id: @spotfavorite.id), method: :delete, class:"btn btn-danger btn-block btn-lg" %></div>
        <% else %>
          <div class="lower_button 1"><%= link_to "お気に入りに追加する", spotfavorites_path(spot_id: @spot.id), method: :post, class:"btn btn-success btn-block btn-lg" %></div>
        <% end %>
        <div class="lower_button 2"><%= link_to "投稿ユーザーのプロフィールへ", user_path(@spot.user.id),class:"btn btn-warning btn-block btn-lg"  %></div>
      <% end %>
    </div>
    <div class="localartist_profile_lower_button_show">
      <%= link_to '戻る', :back %>
    </div>
</div>
