<%= form_with(model: @localartist, local: true, url:confirm_localartists_path) do |form| %>

<!--エラー  -->
  <% if @localartist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@localartist.errors.count, "error") %> 件のエラーがあります</h2>
      <ul>
      <% @localartist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--  -->

  <div class="image">
    <br />
    <p><%= form.label :写真 %></p>
    <% if @localartist.image.url %>
      <%= image_tag(@localartist.image.thumb.url) if @localartist.image && @localartist.image.url %>
    <% end %>
      <%= form.file_field :image, "画像をアップロード" %>
  </div>

  <div class="name">
    <%= form.label :アーティスト名 %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="country">
      <!-- #taggableで追加できるようにする paramsも追加-->
  </div>

  <div class="wholikes">
      <!-- #taggableで追加できるようにする paramsも追加-->
  </div>

  <div class="comment">
    <%= form.label :コメント %>
    <%= form.text_field :comment, placeholder:"自由にコメントしてください", class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "投稿する" %>
  </div>


<% end %>
