
<form class="form-inline">
  <%= form_with(scope: :search, url:localartists_path, local: true, method: :get) do |form| %>
    <div class="flex-inline">
      <%= form.label :name_search, "アーティスト名" %>
      <%= form.text_field :name %>
    </div>
    <div class="flex-inline">
      <%= form.label :country_search, "出身国から" %>
      <%= form.text_field :country, class: "form-control" %>
      <!-- %= form.hidden_field :search, value:"true" %> -->
    </div>

    <div class="flex-inline">
      <%= form.label :artist_search, "自分が好きなアーティストから" %>
      <%= form.select :tag_list, @user.tag_list.map, {include_blank:"選択する",include_hidden:false} %>
      <!-- %= form.hidden_field :search, value:"true" %> -->
    </div>

    <div class="flex-inline">
      <%= form.submit name="検索する" %>
    </div>
  <% end %>
</form>

<!-- <div class="flex-inline">
  %= form.label :label_id_search, "ラベル絞込" %>
  %= form.select("label_id", Label.all.pluck(:name, :id), { include_blank:"選択する",include_hidden: false }) %>
    <!--label_idをパラメータ値として飛ばす pluckでlabelのidとnameを取り出す -->
<!-- </div> -->



  <!-- ransack -->
<!-- <form class="form-inline">
%= search_form_for @search, url: localartists_path do |f| %>
    <div class="flex-inline">
      %= f.label :name, 'アーティスト名' %>
      %= f.search_field :name_cont %>
    </div>

    <div class="flex-inline">
      %= f.label :country, "出身国から" %>
      %= f.search_field :country_cont %>
    </div>

    <!--- tag_listで検索つけたい -->

    <!-- <div class="flex-inline">
      %= f.submit name="検索" %>
    </div>
  % end %>
<!-- </form> --> --> -->


  <!-- % @posts.each do |post| %>
    <tr>
      <td>%= post.name -%></td>
    </tr>
  % end %> -->
  <!-- ransack -->


<h1>アーティスト一覧</h1>

  <% @localartists.each do |localartist| %>
    <div class="col mb-4">
      <div class="card card-cascade m-1">
        <div class="view view-cascade overlay">
          <% if localartist.image? %>

            <%= image_tag "#{localartist.image}",:size =>'100x100' ,class:"card-img-top"%>
            <%= localartist.name %>
            <%# #クリックするとshowに飛ぶようにしたい %>
          <% else %>
            <%= link_to (image_tag 'default.jpg',:size =>'100x100' ,class:"card-img-top"), localartist_path(localartist.id) %>
            <%= localartist.name %>
          <% end %>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
      </div>

    </div>
  <% end %>
