<div class="mypagetitle">
  <p><%= t("message.artistindex") %></p>
</div>

<div class="container_profile">
  <div class="localartist_search_upper">
    <%= form_with(scope: :search, url:localartists_path, local: true, method: :get) do |form| %>
      <div class="search_form">
        <%= form.label :アーティスト名 %>
        <%= form.text_field :name, placeholder:"アーティスト名を入力", class:"form-control" %>
      </div>
      <div class="search_form">
        <%= form.label :国 %>
        <%= form.collection_select :country, Localartist.all.order("country ASC"), :country, :country,{include_blank:"アルファベット順"}, class:"form-control" %>
      </div>
      <div class="search_form">
        <%= form.label :自分の好きなアーティストから %>
        <%= form.select :tag_list, @user.tag_list.map, {include_blank:"複数選択可",include_hidden:false},{multiple: true, class:'mySelect2 form-control'} %>
      </div>
  </div>
      <div class="search_button">
          <div class="localartist_search_button">
            <%= form.submit name= t("search"),class:"btn btn-primary btn-block btn-lg"  %>
          </div>
      </div>
    <% end %>

    <div class ="localartist_index_posts">
      <p><%= t("result.localartist") %></p>
      <div class="user_profile_posts">
        <% @localartists.each do |localartist| %>
          <table>
            <div class="user_profile_each">
              <tr>
                <td>
                  <% if localartist.image? %>
                    <%= link_to (image_tag "#{localartist.image}",:size =>'120x120',class:"card-img-top"),localartist_path(localartist.id)  %>
                  <% else %>
                    <%= link_to (image_tag 'artisticon.jpg',:size =>'120x120', class:"card-img-top"),localartist_path(localartist.id) %>
                  <% end %>
                </td>
              <tr>
                <td>
                  <p><%= localartist.name %></p>
                </td>
              </tr>
            </div>
          </table>
        <% end %>
      </div>
      <div class="paginate">
        <%= paginate @localartists %>
      </div>
    </div>

    <div class="user_profile_lower_button_edit">
        <div class="localartist_search_button">
          <%= link_to t("back"), localartists_path %>
        </div>
    </div>
</div>
