
<!-- お気に入りボタン
編集ボタン
 -->

  <div class="image">
    <% if @localartist.image.url %>
      <%= image_tag(@localartist.image.thumb.url),:size => "100x100" if @localartist.image && @localartist.image.url %>
    <% else %>
        <%= image_tag 'default.jpg',:size =>'100x100' ,class:"card-img-top" %>
    <% end %>
  </div>

  <div class="comment">
    <p><%=@localartist.user.name. %>のコメント</p>
    <p><%=@localartist.comment %> </p>
  </div>

  <div class="name">
    <p>アーティスト名 <%=@localartist.name %>  </p>
  </div>

  <div class="country">
    <p> 国をtaggableで表示 </p>
  </div>

  <div class="wholikes">
    <p> #taggable　でラベル表示 </p>
  </div>

  <!-- Youtube ApI

  他ユーザーコメント -->
