<ul style="list-style:none">
  <!-- 最新5件だけ表示  -->
  <div class="comment_on_artist">
      <% comments.first(5).each do |comment| %>
        <% if comment.id.present? %>
          <li>
            <div class ="comment-content" id ="this_comment_<%= comment.id %>"></div>
            ユーザー<%= comment.user.name %>のコメント<div class="balloon"><%= comment.content %></div>
            <% if comment.user == current_user %>
              <a><%= link_to "編集", edit_localartist_comment_path(localartist, comment), remote: true %></a>
              <a><%= link_to "削除", localartist_comment_path(comment.localartist_id, comment.id), method: :delete, remote: true,
                                              data: { confirm: "本当に削除しますか?"} %></a>
            <% end %>
          </li>
        <% end %>
      <% end %>
  </div>
</ul>
