<%= form_with(model: [spot, spotcomment]) do |form| %>
  <% if spotcomment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spotcomment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% spotcomment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="comment_form">
      <%= form.label:content, style:"display:none;" %>
      <%= form.text_area :content,:size =>'250x2',class:"form-control",placeholder:"50文字まで" %>
    </div>
    <div class="actions">
      <%= form.submit:"コメントを残す" %>
    </div>
<% end %>
