<div class="mypagetitle">
  <p><%= @user.name%><%= t("user.page") %></p>
</div>

<div class ="container_profile">
  <div class="user_profile_upper">
    <div class="user_profile_upper_left">
      <div class="user_profile_image">
        <% if @user.image.url.present? && @user.image.present? %>
          <%= image_tag @user.image.thumb.url, :size =>'350x350' %>
        <% else %>
          <%= image_tag 'artisticon.jpg',:size =>'350x350',class:"rounded-circle" %>
        <% end %>
      </div>
    </div>

    <div class="user_profile_upper_right">
      <div class="user_name">
        <p class="profile_data"><%= t("user.name") %></p>
        <p><%= @user.name %></p>
      </div>
      <div class="user_email">
        <p class="profile_data"><%= t("user.email") %></p>
        <p><%= @user.email %></p>
      </div>
      <div class="user_comment">
        <p class="profile_data"><%= t("user.comment") %></p>
        <p><%= @user.comment %></p>
      </div>
    </div>
  </div>

  <!-- taggableのラベル欄 -->
  <div class ="user_profile_lower">
    <p><%= t("user.taglist") %></p>
    <% if @user.tag_list.present? %>
      <% @user.tag_list.each do |tag| %>
        <span class="label label-danger"><%= tag %></span>
      <% end %>
    <% else %>
      <h5><%= t("nopost") %></h5>
    <% end %>
  </div>

  <div class ="user_profile_myposts artists">
    <p><%= t("artistpost") %></p>
    <div class="user_profile_posts">
      <% if @user.localartists.present? %>
      <% @userartistlists.each do |localartist| %>
        <table>
          <div class="user_profile_each">
            <tr>
              <td>
                <%= link_to localartist_path(localartist.id) do%>
                  <% if localartist.image? %>
                    <%= image_tag "#{localartist.image}",:size =>'120x120' ,class:"card-img-top" %>
                  <% else %>
                    <%= link_to (image_tag 'artisticon.jpg',:size =>'120x120' ,class:"card-img-top"), localartist_path(localartist.id) %>
                  <% end %>
                <% end %>
              </td>
            <tr>
              <td>
                <p><%= localartist.name %></p>
              </td>
            </tr>
          </div>
        </table>
      <% end %>
      <% else %>
        <h5 style="margin:0 auto;"><%= t("nopost") %></h5>
      <% end %>
    </div>
    <div class="paginate">
      <%= paginate @userartistlists %>
    </div>
  </div>

  <div class ="user_profile_myposts spots">
    <p><%= t("spotpost") %></p>
    <div class="user_profile_posts">
      <% if @user.spots.present? %>
        <% @userspots.each do |spot| %>
          <table>
            <div class="user_profile_each">
              <tr>
                <td>
                  <%= link_to spot_path(spot.id) do%>
                    <% if spot.image? %>
                      <%= image_tag "#{spot.image}",:size =>'120x120' ,class:"card-img-top" %>
                    <% else %>
                      <%= link_to (image_tag 'spoticon.png',:size =>'120x120' ,class:"card-img-top"), spot_path(spot.id) %>
                    <% end %>
                  <% end %>
                </td>
              <tr>
                <td>
                  <p><%= spot.name %></p>
                </td>
              </tr>
            </div>
          </table>
        <% end %>
      <% else %>
        <h5 style="margin:0 auto;"><%= t("nopost") %></h5>
      <% end %>
    </div>
      <div class="paginate">
        <%= paginate @userspots %>
      </div>
  </div>

  <div class="user_profile_lower_button_show">
    <% if current_user.id == @user.id %>
      <p class="lower_button 1"><%= link_to t("edit"), edit_user_registration_path(current_user.id),class:"btn btn-primary btn-block btn-lg" %></p>
      <p class="lower_button 2"><%= link_to t("favorite_list"), favorites_path(current_user.id),class:"btn btn-danger btn-block btn-lg" %></p>
    <% end %>
  </div>

</div>
