<div class ="container_user_profile">
  <p>マイページ画面</p>
  <div class="user_profile_upper">
    <div class="user_profile_higher_left">
      <div class="user_profile_image">
        <%= image_tag @user.image.thumb.url if @user.image.present? && @user.image.url.present? %>
      </div>
    </div>

    <div class="user_profile_higer_right">
      <div class="user_name">
        <p>ユーザー名<%= @user.name %></p>
      </div>
      <div class="user_email">
        <p>Emailアドレス<%= @user.email %><p>
      </div>
      <div class="user_comment">
        <p>コメント<p>
        <p><%= @user.comment %></p>
      </div>
    </div>
  </div>

  <!-- taggableのラベル欄 -->
  <div class ="user_profile_lower">
    <p>登録している国</p>
    <% @user.usercountry_list.each do |tag| %>
      <span class="label label-primary"><%= tag %></span>
    <% end %>
    <br />
    <p>登録しているｱｰﾃｨｽﾄ</p>
    <% @user.userartist_list.each do |tag| %>
      <span class="label label-danger"><%= tag %></span>
    <% end %>
  </div>
  <div class ="user_profile_lower_button">
    <p><%= link_to "編集する", edit_user_registration_path(current_user.id) %></p>
  </div>

</div>
