<div class="sign_up-form">
  <h2><%= t('menu.login') %></h2>

  <%= form_for(resource, as: resource_name, url: user_session_path, html: { method: :post}) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control",placeholder:"メールアドレスを入力" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password",class:"form-control",placeholder:"パスワードを入力" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="field">
      <%= f.submit t('.sign_in'),class:"btn btn-primary btn-block btn-lg", id:"link" %>
    </div>
  <% end %>

    <div class="field">
      <a><%= link_to t('menu.registration1'), new_user_registration_path %></a>
    </div>
</div>
