<h2>編集する</h2>

<%= form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field>
    <p><%= f.label :写真 %></p>
    <% if @user.image.url %>
      <%= image_tag @user.image.url(:thumb), id: :image_preview %>
    <% else %>
      <%# <%= image_tag "sample.jpg", id: :image_preview %> %>
    <% end %>
    <%= f.file_field :image, id: :user_image %>
    <script type ="text/javascript">
    $(function(){
      function readURL(input){
        if(input.files && input.files[0]){
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#image_preview').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
      }
      $('#user_image').change(function(){
        readURL(this);
      });
      });
    </script>
    <p><%= f.check_box :remove_image %>画像を削除</p>

  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :プロフィールコメント %><br />
    <%= f.text_area :comment,:size=>"40x8" %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
